[submodule "metaurban/downstream_tasks/simgen/SimGen"]
	path = metaurban/downstream_tasks/simgen/SimGen
	url = https://github.com/metadriverse/SimGen.git
[submodule "metaurban/downstream_tasks/VLM/CogVLM"]
	path = metaurban/downstream_tasks/VLM/CogVLM
	url = https://github.com/THUDM/CogVLM.git
