[submodule "metaurban/downstream_tasks/simgen/SimGen"]
	path = metaurban/downstream_tasks/simgen/SimGen
	url = https://github.com/metadriverse/SimGen.git
[submodule "metaurban/downstream_tasks/VLM/VILA"]
	path = metaurban/downstream_tasks/VLM/VILA
	url = https://github.com/NVlabs/VILA.git
[submodule "metaurban/downstream_tasks/VLM/InternVL"]
	path = metaurban/downstream_tasks/VLM/InternVL
	url = https://github.com/OpenGVLab/InternVL.git
