recursive-include metaurban/examples/ *
recursive-include metaurban\\examples\\ *
recursive-include metaurban\examples\ *

recursive-include metaurban/render_pipeline/ *
recursive-include metaurban\\render_pipeline\\ *
recursive-include metaurban\render_pipeline\ *

recursive-include metaurban/shaders/ *
recursive-include metaurban\\shaders\\ *
recursive-include metaurban\shaders\ *

recursive-include metaurban/third_party/simplepbr/shaders/ *
recursive-include metaurban\\third_party\\simplepbr\\shaders\\ *
recursive-include metaurban\third_party\simplepbr\shaders\ *